html {
  min-height: 100%;
  width: 100%;
}
body {
  margin: 0;
  overflow-x: hidden;
  width: 100%;
}

a, a:active {
  color: inherit;
  cursor: pointer;
}

div {
  //outline: 1px solid red;
}

::selection {
  background: rgb(0,17,254); /* WebKit/Blink Browsers */
  color: white;
}
::-moz-selection {
  background: rgb(0,17,254); /* Gecko Browsers */
  color: white;
}

/* Make clicks pass-through */
#nprogress {
  pointer-events: none;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(255,255,255,0.95);
  z-index: 1000;
}

#nprogress .bar {
  background: rgb(0,17,254);

  position: fixed;
  z-index: 1031;
  top: 0;
  left: 0;

  width: 100%;
  height: 2px;
  display: none;
}

/* Remove these to get rid of the spinner */
#nprogress .spinner {
  display: block;
  position: fixed;
  z-index: 1031;
  top: calc(50% - 50px);
  right: calc(50% - 50px);
}

#nprogress .spinner-icon {
  width: 120px;
  height: 120px;
  box-sizing: border-box;
  background-image: url('/static/loading.gif');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

.nprogress-custom-parent {
  overflow: hidden;
  position: relative;
}

.nprogress-custom-parent #nprogress .spinner,
.nprogress-custom-parent #nprogress .bar {
  position: absolute;
}

@-webkit-keyframes nprogress-spinner {
  0%   { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}
@keyframes nprogress-spinner {
  0%   { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
